html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.custom-dropdown {
    right: 0; /* Adjust this value as needed */
    border-radius: 0; /* Makes the dropdown menu square */
}

.dropdown-header {
    text-align: center; /* Centers the text */
}
